<?xml version="1.0"?>

<launch>

    <arg name="machine" value="$(optenv MACHINE_SPEECH_TO_TEXT localhost)"/>
    <include file="$(find sergio_machine_files)/machines/$(arg machine).machine" />

    <!-- server -->
    <node ns="sergio" name="speech_server" pkg="dragonfly_speech_recognition" type="vbox.py" machine="$(arg machine)" output="screen" />

    <!-- client -->
    <node ns="sergio" name="speech_client" pkg="dragonfly_speech_recognition" type="client.py" machine="$(arg machine)" output="screen">
        <param name="ip" value="192.168.2.79" />
    </node>

</launch>
