<?xml version="1.0"?>

<launch>

    <arg name="ROBOT_REAL" />
    
    <!-- Collects all the diagnostics messages -->
    <!-- DIRECTLY INCLUDES LAUNCH FILE OF AMIGO1 -->
	<include file="$(find amigo_diagnostics)/launch/aggregator.launch">
		<arg name="ROBOT_REAL" value="$(arg ROBOT_REAL)"/>
	</include>

	<!-- Checks if nodes are still running -->
	<rosparam command="load" file="$(find bamigo_launch_files)/launch/diagnostics/parameters/neglect_nodes.yaml" />
	<node name="node_alive_server" type="node_alive_server" pkg="node_alive" />

    <group if="$(arg ROBOT_REAL)">
		<!-- Nobody is taking note of it anyway :(
		<include file="$(find amigo_diagnostics)/launch/cpu_monitor.launch" />-->
		<include file="$(find bamigo_launch_files)/launch/diagnostics/ntp_monitor.launch" />    
	
		<!-- BATTERY -->
		<include file="$(find bamigo_launch_files)/launch/diagnostics/battery_manager.launch"/>
	
		<!-- EMERGENCY BUTTON -->
		<node pkg="emergency_speakup" type="emergency_speakup" respawn="true" name="emergency_speakup"/>
			
	</group>
    
</launch>
