<?xml version="1.0"?>
<launch>

    <arg name="machine" default="localhost"/>
    <include file="$(find sergio_machine_files)/machines/$(arg machine).machine" />

	<node pkg="tue_manipulation" type="grasp_precompute_action" name="grasp_precompute_left" output="screen" machine="$(arg machine)">
        <!-- Side -->
    	<param name="side" value="left"/>

        <!-- Measurement topics -->
    	<remap from="/joint_measurements" to="/sergio/left_arm/measurements"/>
    	<remap from="/spindle_measurement" to="/sergio/torso/measurements" />

        <!-- IK solver parameters -->
        <param name="ik_max_iterations" value="500"/>

        <!-- Chain information -->
        <param name="root_link" value="base_link"/>
        <param name="tip_link" value="grippoint_left"/>
        <param name="robot_description" textfile="$(find sergio_description)/urdf/sergio.urdf"/>        

        <!-- Pre-grasping parameters -->
        <param name="max_yaw_delta" value="2.0"/>
        <param name="yaw_sampling_step" value="0.05"/> <!-- [rad] -->
        <param name="spindle_sampling_step" value="0.05"/> <!-- [m] -->
        <param name="pre_grasp_delta" value="0.20"/>
        <param name="pre_grasp_inbetween_sampling_steps" value="20"/>

        <!-- TF parameters -->
        <param name="tf_prefix" value="sergio"/>
    </node>
    
    <node pkg="tue_manipulation" type="grasp_precompute_action" name="grasp_precompute_right" output="screen" machine="$(arg machine)">
        <!-- Side -->
    	<param name="side" value="right"/>

        <!-- Measurement topics -->
    	<remap from="/joint_measurements" to="/sergio/right_arm/measurements"/>
    	<remap from="/spindle_measurement" to="/sergio/torso/measurements" />

        <!-- IK solver parameters -->
        <param name="ik_max_iterations" value="500"/>

        <!-- Chain information -->
        <param name="root_link" value="base_link"/>
        <param name="tip_link" value="grippoint_right"/>
        <param name="robot_description" textfile="$(find sergio_description)/urdf/sergio.urdf"/>        

        <!-- Pre-grasping parameters -->
        <param name="max_yaw_delta" value="2.0"/>
        <param name="yaw_sampling_step" value="0.05"/> <!-- [rad] -->
        <param name="spindle_sampling_step" value="0.05"/> <!-- [m] -->
        <param name="pre_grasp_delta" value="0.20"/>
        <param name="pre_grasp_inbetween_sampling_steps" value="20"/>

        <!-- TF parameters -->
        <param name="tf_prefix" value="sergio"/>
    </node>

</launch>
