<?xml version="1.0"?>
<launch>

    <arg name="machine" value="$(optenv MACHINE_ARM_NAVIGATION localhost)"/>

    <!-- TORSO SERVER -->
    <include file="$(find sergio_launch_files)/launch/manipulation/torso.launch">
        <arg name="machine" value="$(arg machine)"/>
    </include>
    
    <include file="$(find sergio_launch_files)/launch/manipulation/joint_trajectory_action.launch">
        <arg name="machine" value="$(arg machine)" />
    </include>
    
    <include file="$(find sergio_launch_files)/launch/manipulation/grasp_precompute_action.launch" >
        <arg name="machine" value="$(arg machine)" />
    </include>

</launch>
