<?xml version="1.0"?>

<launch>
    
    <arg name="machine" default="localhost"/>
    <include file="$(find amigo_machine_files)/machines/$(arg machine).machine" />

    <node pkg="torso_server" type="torso_server" respawn="false" name="torso_server" output="screen" ns="sergio" machine="$(arg machine)">
        <remap from="/sergio/torso_server/references" to="/sergio/torso/references"/>
        <remap from="/sergio/torso_server/measurements" to="/sergio/torso/measurements"/>
    </node>

</launch>
