<?xml version="1.0"?>

<launch>

    <arg if="$(optenv ROBOT_REAL false)" name="machine" default="sergio1"/>
    <arg unless="$(optenv ROBOT_REAL false)" name="machine" default="localhost"/>
    <include file="$(find sergio_machine_files)/machines/$(arg machine).machine" />
 
    <node name="gmapping_node" pkg="gmapping" type="slam_gmapping" respawn="true" machine="$(arg machine)" >
        <remap from="scan" to="/sergio/base_front_laser"/>
        <remap from="map" to="/nav_map"/>
        <param name="odom_frame" value="/sergio/odom"/>
        <param name="base_frame" value="/sergio/base_link"/>
        <param name="delta" value="0.025" />

    <!-- Initial map size -->
	<param name="xmin" value="-1" />
	<param name="ymin" value="-3" />
	<param name="xmax" value="5" />
	<param name="ymax" value="3" />
	
	<!-- The maximum usable range of the laser -->
	<param name ="maxUrange" value = "8" />
	
<!--	<param name="srr"  value="10" />	
	<param name="srt"  value="10" />
	<param name="str"  value="10" />
	<param name="stt"  value="10" /> -->
	
	<!-- Number of beams to skip in each scan (default 0) -->
	<param name ="lskip" value = "0" />
	
	<!-- Process a scan each time the robot translates/rotates this far (default 1.0, 0.5)-->
	<param name="linearUpdate"  value="1.0" />
	<param name="angularUpdate"  value="0.5" />

    </node>

</launch>



