<?xml version="1.0"?>
<launch>
	
	<arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_A)" />
	<arg name="gui" default="true"/>
	<arg name="robot_name" default="amigo2"/>

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    
    <!-- load robot -->
    <param name="/amigo2/robot_description" textfile="$(find amigo2_description)/urdf/amigo2.urdf" />
    
    <!-- DIAGNOSTICS -->
	<include file="$(find bamigo_launch_files)/launch/diagnostics/diagnostics.launch">
		<arg name="ROBOT_REAL" value="$(arg ROBOT_REAL)"/>
	</include>
    
    <group if="$(arg ROBOT_REAL)">
		<!-- REAL ROBOT -->
		
		<!-- Robot state publisher -->
		<node pkg="robot_state_publisher" type="state_publisher" name="$(arg robot_name)_state_publisher" ns="$(arg robot_name)">
			<param name="publish_frequency" type="double" value="50.0" />
			<param name="tf_prefix" type="string" value="$(arg robot_name)" />
			<remap from="joint_states" to="/$(arg robot_name)/joint_states"/>
		</node>
		
	</group>

	<group unless="$(arg ROBOT_REAL)">
        <!-- SIMULATION -->
        <include file="$(find bamigo_launch_files)/launch/simulator/$(optenv SIMULATOR).launch">
            <arg name="gui" value="$(arg gui)"/>
            <arg name="env" value="$(arg env)"/>
        </include>     
    </group>
	
</launch>
