<?xml version="1.0"?>
<launch>
	
	<arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_B)" />
	<arg name="gui" default="true"/>
	<arg name="robot_name" default="sergio"/>

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    
    <!-- load robot -->
    <param name="/$(arg robot_name)/robot_description" textfile="$(find sergio_description)/urdf/sergio.urdf" />
    
    <!-- DIAGNOSTICS -->
	<include file="$(find sergio_launch_files)/launch/diagnostics/diagnostics.launch">
		<arg name="ROBOT_REAL" value="$(arg ROBOT_REAL)"/>
	</include>
	
	<!-- Robot state publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="$(arg robot_name)_state_publisher" ns="$(arg robot_name)">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" type="string" value="$(arg robot_name)" />
		<remap from="joint_states" to="/$(arg robot_name)/joint_states"/>
	</node>
    
    <group if="$(arg ROBOT_REAL)">
		<!-- REAL ROBOT -->
		
		<!-- Front laser -->
		<include file="$(find sergio_launch_files)/launch/sensors/front_laser.launch"/>
		 
		<!-- RGB lights manager -->
		<!--
		<node name="rgb_lights_manager" pkg="rgb_lights_manager" type="rgb_lights_manager" output="screen">
            <remap from="/hardware_status" to="/sergio/hardware_status" />
            <remap from="/emergency_switch" to="/sergio/emergency_switch" />
        </node> -->
		
	</group>

	<group unless="$(arg ROBOT_REAL)">
        <!-- SIMULATION -->
        <include file="$(find sergio_launch_files)/launch/simulator/$(optenv SIMULATOR).launch">
            <arg name="gui" value="$(arg gui)"/>
            <arg name="env" value="$(arg env)"/>
        </include>     
    </group>
    
    <!-- TF Server: advertises services for looking up transformations -->
    <node name="tf_server" pkg="tf_server" type="tf_server" output="screen" />
    
     <!-- Phone UI --> <!-- only works with groovy -->
    <include file="$(find tue_mobile_ui)/launch/sergio.launch"/>
	
</launch>
