<?xml version="1.0"?>

<launch>

    <arg name="machine" value="$(optenv MACHINE_BASE_NAVIGATION localhost)"/>
    <include file="$(find sergio_machine_files)/machines/$(arg machine).machine" />
    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    <arg name="gmapping" default="false"/>    <!-- default localization is amcl, if set to true: gmapping -->
    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_B)" />
    
    <!-- map server should not be started if we are using gmapping -->
    <group unless="$(arg gmapping)">
        <node name="nav_map_server" pkg="map_server" type="map_server" args="$(find amigo_maps)/maps/$(arg env)/nav/yaml" output="screen" machine="$(arg machine)"> 
            <remap from="/map" to="/nav_map"/> 
        </node> 
    </group>

 <node pkg="tue_move_base" type="move_base" respawn="true" name="move_base" output="screen" machine="$(arg machine)">  
            
        <!-- local and global planner parameters -->        
         <rosparam file="$(find tue_move_base)/parameters/sergio/move_base.yaml" command="load" /> 

        <!-- Common costmap parameters -->        
        <rosparam file="$(find tue_move_base)/parameters/sergio/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find tue_move_base)/parameters/sergio/costmap_common_params.yaml" command="load" ns="static_costmap" />  

        <!-- Global costmap settings -->
        <rosparam file="$(find tue_move_base)/parameters/sergio/costmap_global_params.yaml" command="load" />  

        <!-- Static costmap settings -->
        <rosparam file="$(find tue_move_base)/parameters/sergio/costmap_static_params.yaml" command="load" /> 
        

        <remap from="cmd_vel" to="/sergio/base/references"/> 
        <remap from="odom" to="/sergio/base/measurements"/>
        
     </node>

</launch>
