<?xml version="1.0"?>

<launch>

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    <arg name="snapmap" default="false"/>
    <arg name="nav" default="true"/>          <!-- default navigation is used -->
    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_B)"/>
    
	<group if="$(arg ROBOT_REAL)">
		<!-- REAL ROBOT -->

		<!-- Start all sensors -->
		<!-- Is done in start.launch
		<include file="$(find sergio_launch_files)/launch/sensors/sensors.launch" />	-->
	</group>

    <!-- LOCALIZATION -->
    <include file="$(find sergio_launch_files)/launch/middleware/localization.launch"/>

	<!-- NAVIGATION -->
    <include file="$(find sergio_launch_files)/launch/navigation/cb_base_navigation.launch"/> 
    
    <!-- World model -->
    <node name="ed_server" pkg="ed" type="ed_server" args="$(find ed)/config/config_sergio.yml" output="screen" />
    
    <!-- Reasoner -->
    <param name="/reasoner/world_model_type" value="ed"/>
    <include file="$(find tue_reasoner_core)/launch/start.launch" />

</launch>
