<?xml version="1.0"?>

<launch>

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    <arg name="snapmap" default="false"/>
    <arg name="nav" default="true"/>          <!-- default navigation is used -->
    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_B)"/>
    
	<group if="$(arg ROBOT_REAL)">
		<!-- REAL ROBOT -->

		<!-- Start all sensors -->
		<!-- Is done in start.launch
		<include file="$(find sergio_launch_files)/launch/sensors/sensors.launch" />	-->
	</group>

    <!-- LOCALIZATION -->
    <include file="$(find sergio_launch_files)/launch/middleware/localization.launch"/>

	<!-- NAVIGATION -->
    <include file="$(find sergio_launch_files)/launch/middleware/base_navigation.launch"/>

</launch>
