<launch>
    <!--<include file="$(find amigo_machine_files)/machines/amigo2.machine" />--><!--ToDo: correct machine file-->
    
    <node name="sergio_base_controller" pkg="ocl" type="deployer-gnulinux" args="
    ETHERCAT_HARDWARE
    -s $(find sergio_etherCAT)/soem.ops 
    -s $(find sergio_etherCAT)/base_controller.ops
    --" output="screen"></node><!--</node> machine="amigo2"></node>   --><!--ToDo: correct machine file-->
</launch>
